* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: fonts;
  src: url(./tulls/3d_unicode.ttf);
}

body {
  font-family: fonts;
  width: 100%;
}

h1 {
  color: goldenrod;
  font-size: 90px;
  text-align: center;
}

h4 {
  font-size: 70px;
  text-align: center;
}
p {
  font-size: 37px;
  text-align: center;
}

.custom-audio {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  display: hidden;
}

header {
  height: 900px;
  width: 100%;
  padding: 0 20px;
}

.header_text {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  height: 100%;
  gap: 50px;
  background-image: url(./tulls/1af47ad3-f1e0-4b9e-bfea-7199c73d40d1\ -\ Copy.jpeg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

.desc_text {
  background-image: url(./tulls/1af47ad3-f1e0-4b9e-bfea-7199c73d40d1\ -\ Copy.jpeg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  border: none;
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
  padding: 100px;
}

.plan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
  gap: 30px;
  background-image: url(./tulls/1af47ad3-f1e0-4b9e-bfea-7199c73d40d1.jpeg);
  background-size: cover;
  background-position: 100%;
  padding: 0 20px;
  box-shadow: 10px 10px 10px black;
  border-radius: 10px;
}

.plan div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
  padding: 50px;
}

.map_all {
  padding: 0 20px;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 1300px;
  background-image: url(./tulls/1af47ad3-f1e0-4b9e-bfea-7199c73d40d1\ -\ Copy.jpeg);
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
}

.map iframe {
  height: 700px;
  width: 700px;
  border-radius: 5px;
  border: none;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 60px;
  }
  h4 {
    font-size: 50px;
  }
  p {
    font-size: 30px;
  }

  .header_text {
    background-image: url(./tulls/1af47ad3-f1e0-4b9e-bfea-7199c73d40d1.jpeg);
    background-size: cover;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 50px;
  }
  h4 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }

  header {
    height: 800px;
    width: 100%;
    padding: 0 20px;
  }

  .header_text {
    justify-content: center;
    gap: 100px;
  }
.map {
  height: 600px;

}
  .map iframe {
  height:200px;
  width: 80%;
}

.map_all .map h1{
  font-size: 40px;
}
}
